
### OpenEddi Git Ignore list

# The node modules can just be installed using npm
/node_modules

# The .idea folder, for my webstorm config
/.idea

# The old client, I just keep it there for reference
/.client_old

# Ignore the bower files too
/oe/bower_components

# Just some notes files that I use. Not something to be committed
scratch.txt
notes.md

npm-debug.log
oe/npm-debug.log
built.min.js
built.min.js.map
built.js
/oe/built.js
/oe/oe_client/vulcanized-app.html
/oe/oe_client/compiled-app.html

# Pools that I don't want in the repo

oe/oe_pools/pool1
oe/oe_pools/pool2
oe/oe_pools/pool3
oe/oe_pools/pool4
oe/oe_pools/rapproject
