/*
 * Max width set to 560 px. This might be a good place for SASS or LESS, right?
 *
 */


#oe-sheet-eddi-space {
}

#oe-sheet-eddi-space.wide {
    max-width: 560px;
    margin: 48px auto 0;
}

#oe-pool-footer {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.258824) 0 2px 5px 0;
    width: 540px;
    margin: 16px auto;
    padding: 10px;
}

#oe-footer-logo > img {
    height: 35px;
    width: 35px;
}

.oe-basic-eddi {
    background-color: #f1f1f1;
}

.wide .oe-basic-eddi {
    margin-bottom: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0 2px 5px 0;
    box-shadow: rgba(0, 0, 0, 0.258824) 0 2px 5px 0;
    border-radius: 2px;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 560px;
}

.oe-eddi-promptbar {
    background-color: #ffe0ad;
    color: #212121;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14902);
    border-radius: 0;
}
