<div id="oe-landing-header">
    <div class="oe-title-logo layout center-justified">
        <img src="/assets/oe-title-logo.svg" class="oe-title-logo" alt="OpenEddi Title Logo"/>
    </div>
</div>
<div id="oe-sync"></div>
<div id="oe-landing-content">OE Landing Content</div>
<oe-landing-footer class="layout horizontal"></oe-landing-footer>

