<core-toolbar class="oe-eddi-promptbar">
    <div flex></div>
    <div class="middle"><%- rc.oe.prompt %></div>
    <div class="bottom oe-eddi-details"><%- rc.oe.eid %>&nbsp;-&nbsp;<%- rc.oe.title %></div>
</core-toolbar>
<style>
    core-toolbar.oe-eddi-promptbar{
        height: 128px;
    }
    .oe-eddi-details {
        font-size: 10px;
    }
</style>