<paper-toolbar class="oe-eddi-promptbar">
    <div class="flex"></div>
    <div class="middle"><%= oe.prompt %></div>
    <div class="bottom oe-eddi-details"><%- oe.eid %>&nbsp;-&nbsp;<%- oe.title %>
        &nbsp;-&nbsp;<%- oe.sortIndex %></div>
</paper-toolbar>
<style>
    paper-toolbar.oe-eddi-promptbar {
        height: 128px;
    }
    .oe-eddi-details {
        font-size: 10px;
    }
</style>