<core-header-panel main id="adminMainDrawer">
    <div id="oe-admin-header" class="core-header"></div>
    <div id="oe-admin-main"></div>
    <div id="oe-admin-footer"></div>
</core-header-panel>
<core-header-panel drawer id="adminMenuDrawer">
    <core-toolbar>Menu</core-toolbar>
    <core-menu>
        <core-item label="Not all"></core-item>
        <core-item label="who wander"></core-item>
        <core-item label="are lost."></core-item>
    </core-menu>
</core-header-panel>
