<div id="oe-landing-header">
    <div class="oe-title-logo" layout center-justified>
        <img src="/assets/oe-title-logo.svg" class="oe-title-logo" alt="OpenEddi Title Logo"/>
    </div>
</div>
<core-animated-pages transitions="cross-fade">
    <div id="oe-landing-pools">Pools</div>
</core-animated-pages>
<div id="oe-landing-footer">Footer</div>
