<paper-header-panel id="adminMainDrawer" main>
    <div id="oe-admin-header" class="paper-header"></div>
    <div id="oe-admin-main"></div>
    <div id="oe-admin-footer"></div>
</paper-header-panel>
<paper-header-panel id="adminMenuDrawer" drawer>
    <paper-toolbar>Menu</paper-toolbar>
    <paper-menu>
        <paper-item label="Not all"></paper-item>
        <paper-item label="who wander"></paper-item>
        <paper-item label="are lost."></paper-item>
    </paper-menu>
</paper-header-panel>
