<div id="oe-footer-prev-space">
    <paper-button raised>Prev</paper-button>
</div>
<div id="oe-footer-sheet-position" class="layout horizontal flex center-justified">
    <div layout vertical>
        <div style="text-align: center;">
            Page&nbsp;<%= sheetindex + 1 %> / <%= poolLength %>
        </div>
        <div id="oe-footer-exit-button">
            <paper-button>Save & Exit</paper-button>
        </div>
    </div>
</div>
<div id="oe-footer-next-space">
    <paper-button class="raised">Next</paper-button>
</div>