<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>OpenEddi</title>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">

    <!------- POLYMER WEB-COMPONENTS ------->
    <!-- I'm expecting I will Vulcanize these for the production oe_server -->
    <link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="/bower_components/font-roboto/roboto.html">

    <!------- OE COMPONENTS ---------------->
    <link rel="import" href="/oe_client/components/oe-pool-listing-landing.html">
    <link rel="import" href="/oe_modules/control-shorttext/shorttext.html">
    <link rel="import" href="/oe_client/components/oe-eddi-promptbar.html">

    <style>
        body {
            font-family: 'RobotoDraft', sans serif;
        }
    </style>

</head>
<body unresolved fullbleed>
<div id = "app-space">OpenEddi</div>
</body>
<script src="/built.js"></script>
</html>