<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="shortcut icon" href="/favicon.ico?v=1">

    <title>OpenEddi</title>

    <link rel="stylesheet" href="oe.css">

    <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <link rel="import" href="/bower_components/polymer/polymer.html">

    <!------- POLYMER WEB-COMPONENTS ------->
    <!-- I'm expecting I will Vulcanize these for the production oe_server -->
    <link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="/bower_components/core-drawer-panel/core-drawer-panel.html"/>
    <link rel="import" href="/bower_components/core-menu/core-menu.html"/>
    <link rel="import" href="/bower_components/core-item/core-item.html"/>
    <link rel="import" href="/bower_components/font-roboto/roboto.html">
    <link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="/bower_components/core-icon-button/core-icon-button.html"/>
    <link rel="import" href="/bower_components/core-scroll-header-panel/core-scroll-header-panel.html"/>


    <!------- OE COMPONENTS ---------------->
    <!-- These are the basic components of every OE Pool -->
    <link rel="import" href="/oe_client/components/oe-pool-listing-landing.html">
    <link rel="import" href="/oe_client/components/oe-eddi-promptbar.html">
    <link rel="import" href="/oe_client/components/oe-pool-header.html"/>
    <link rel="import" href="/oe_client/components/oe-landing-footer.html"/>
    <link rel="import" href="/oe_client/components/oe-landing-login.html"/>
    <link rel="import" href="/oe_client/components/oe-admin-header.html"/>
    <link rel="import" href="/oe_client/components/oe-admin-pool-listing.html"/>
    <link rel="import" href="/oe_client/components/oe-admin-response-table-summary.html"/>

    <!------- OE MODULE COMPONENTS ------------->

    <% inspect(oeModules) %>
    <% for (var k in oeModules) {
    if (oeModules.hasOwnProperty(k)) {
        var components = oeModules[k].components;
    if (components) {
            for(var j in components) {
        var componentHref = oeModules[k].urlPath + '/' + components[j];
    %>
    <link rel="import" href="<%= componentHref %>">
    <%
    } } } }
    %>

</head>
<body unresolved fullbleed vertical layout>
<div id="app-space" flex vertical layout>OpenEddi</div>
</body>
<script src="/built.js"></script>
</html>