@import url("css/sheet.css");

.dark-primary-color {
    background-color: #0097A7;
}

.default-primary-color {
    background: #00BCD4;
}

.light-primary-color {
    background: #B2EBF2;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #FFEB3B;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #727272;
}

.divider-color {
    border-color: #B6B6B6;
}