@import url("css/sheet.css");
@import url("css/landing.css");
@import url("css/admin.css");

body {
    font-family: 'RobotoDraft', sans serif;
    background: url('/assets/squairy_light.png') repeat;
}

.hidden {
    display: none;
}

.dark-primary-color {
    background-color: #0097A7;
}

.default-primary-color {
    background: #00BCD4;
}

.light-primary-color {
    background: #D8EBFA;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #FFEB3B;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #727272;
}

.divider-color {
    border-color: #B6B6B6;
}