<!-- view: oe/oe_client/views/view-admin-json.js -->
<!--Created by Apax Software to facilitate direct JSON editing-->
<html>
<head>
    <!--<link href="jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">-->
    <script src="json-editor/dist/jsoneditor.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/bower_components/paper-input/paper-input.html">
    <link rel="import" href="/bower_components/paper-input/paper-textarea.html">
    <link rel="import" href="/bower_components/paper-input/paper-input-decorator.html">
    <link rel="import" href="/bower_components/paper-toast/paper-toast.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/bower_components/iron-icon/iron-icon.html">
    <link rel="import" href="/bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="/bower_components/paper-material/paper-material.html">
    <link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

    <dom-module id="oe-admin-json">
        <style>
            /* TODO(polyup): For speed, consider reworking these styles with .classes
                             and #ids rather than [attributes].
            */
            [layout] {
            @apply(- -layout);
            }

            [layout][vertical] {
            @apply(- -layout-vertical);
            }river 

            [layout][flex] {
            @apply(- -layout-flex);
            }

            [layout][horizontal] {
            @apply(- -layout-horizontal);
            }
        </style>
        <style>
            #container {
                margin: 0.5em auto;
                background: white;
                border: 1px solid rgba(0, 0, 0, 0.15);
                padding: 0.5em 1em 1em;
                position: relative;
                width: 80%;
                max-width: 560px;
                min-width: 256px;
            }

            .poolButton {
                margin-top: 15px;
            }

            .poolListingStatsRow {
                margin-top: 12px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }

            .poolListingStatsRow > div:nth-child(1) {
                width: 30%;
                max-width: 240px;
                min-width: 120px;
                word-wrap: normal;
            }

            .poolListingStatsRow > div:nth-child(2) {
                text-align: left;
            }

        </style>

        <template>

            <test-fixture id="JSONFixture">
                <div class="layout vertical flex" id="wrapper">
                    
                    <div id="container">

                    <span id='valid_indicator'></span>
                    <div id='jsoneditor'></div>

                    

                        <!--<paper-textarea label="Raw JSON" width="100%" id="jsonInput" value="[[getJSON(poollogic)]]"></paper-textarea>-->

                        <div class="poolListingStatsRow layout horizontal">
                        <paper-button raised="" flex="" id="btnValidateJSON" on-tap="validateJSON">Validate JSON</paper-button>
                        <paper-toast fitinto="container" id="toastValid" text="Valid JSON"></paper-toast>
                        <paper-toast fitinto="container" id="toastInvalid" text="Invalid JSON"></paper-toast>
                        <paper-button raised="" flex="" on-tap="saveJSON">Save Pool</paper-button>
                        <paper-button raised="" flex="" on-tap="pushJSON">Push Pool</paper-button>

                        <!--<paper-button raised="" flex="" on-tap="editJSON"><iron-icon icon="icons:assignment"></iron-icon> Edit JSON</paper-button>-->
                    </div>
            </div>
            </test-fixture>
            
        </template>
        <script>
            //noinspection JSUnusedGlobalSymbols
            Polymer({
                is: 'oe-admin-json',
                properties: {
                    attrUpdate: {
                        notify: true,
                        observer: 'attrUpdateChanged'
                    },
                    oe: {notify: true},
                    poollogic: {notify: true}    
                },

                attrUpdateChanged: function () {
                    //Make sure the pool logic is loaded fulloy before the components
                    if (this.poollogic) {
                        this.setupForm();
                    } 
                    else {
                        console.log('poollogic ready!');
                        // For some reason the data is pulled slower than the comoponent is ready
                        // So we need to listen for when the attributes are updated
                        // then set everything up as soon as they're ready.
                        // There has got to be a better way.
                        function isThisPoolLogic(ev) {
                            if (this.poollogic && this.poollogic.poolid) {
                                //console.log('setup form');
                                this.setupForm();
                            }
                        }

                        app.channels.pool.on('attributes-updated', _.bind(isThisPoolLogic, this));
                    }
                    //this.setupForm();
                    
                },

                setupForm: function() {
                    var starting_value  = JSON.stringify(this.poollogic, null, 4);
                    starting_value = JSON.parse(starting_value);
                    
                    if(this.editor == null) 
                    {
                    this.editor = new JSONEditor(this.$.jsoneditor, {
                        //The schema
                        schema: {
                          type: "object",
                              properties: {

                                poollogic: {
                                  type: "object",
                                  
                                  properties: {
                                    poolid: { type: "string" },
                                    title: { type: "string"  },
                                    description: { type: "string" },
                                    introduction: { type: "string" },
                                    afterward: { type: "string" },
                                    dateCreated: { type: "string" }, 
                                    username: {type:"string"},
                                    meta: {type:"string"},
                                    sheetOrder: { type: "array", items: { type: "string" }}
                                    }
                                },

                                sheetlogic: {
                                  type: "array", 
                                  items: { type: "object", 
                                    properties: { sheetid: { type: "string" },
                                    title: { type: "string" },
                                    description: { type: "string" } 
                                    }
                                  }
                                },

                                eddilogic: {
                                  type: "array",
                                  items: { 
                                    type: "object",
                                    properties: {
                                      eid: { type: "string" },
                                      sheetid: { type: "string" },
                                      poolid: { type: "string" },
                                      sortIndex: { type: "integer" },
                                      title: { type: "string" },
                                      controlmodule: { type: "string" },
                                      prompt: { type: "string" }
                                    }
                                  }
                                }

                              }
                         }, //end of schema
                         disable_properties: true,
                         required_by_default: true,
                        
                         startval: starting_value,
                         disable_collapse: false
                             
                    });
                    }

                    /*var indicator = this.$.valid_indicator;
                    //Hook up the validation indicator to update its status whenever the editor changes
                    this.editor.on('change',function() {
                        //Get an array of errors from the validator
                        var errors = this.editor.validate();
                        //var indicator = this.$.valid_indicator;

                        //Not valid
                        if(errors.length) {
                            indicator.style.color = 'red';
                            indicator.textContent = "Not Valid";
                        }
                        //Valid
                        else {
                            indicator.style.color = 'green';
                            indicator.textContent = "Valid JSON";
                        }
                    });*/
                },
                saveJSON: function () {
                    try {
                        var errors = this.editor.validate();
                        if(errors.length) 
                        {
                            this.$.toastInvalid.open();
                        }
                        else 
                        {
                            this.poollogic = this.editor.getValue();
                            app.channels.pool.command('save-pool-json', this.poollogic);
                        }
                        
                    }    
                    catch(err) {
                        console.log(err);
                        this.$.toastInvalid.open();
                    }
                },
                pushJSON: function () {
                    try {
                        var errors = this.editor.validate();
                        if(errors.length) 
                        {
                            this.$.toastInvalid.open();
                        }
                        else 
                        {
                            this.poollogic = this.editor.getValue();
                            app.channels.pool.command('push-json', this.poollogic );
                        }
                    }    
                    catch(err) {
                        console.log(err);
                        this.$.toastInvalid.open();
                    }
                },
                getJSON: function (poollogic) {
                    return JSON.stringify(this.poollogic, null, 4); 
                },
                validateJSON: function () {
                    try {
                        //var editor = new JSONEditor(this.$.jsoneditor);
                        var jsonString = JSON.stringify(this.editor.getValue(), null, 4);
                        JSON.parse(jsonString);
                        this.$.toastValid.open();
                    }
                    catch(err) {
                        console.log(err);
                        this.$.toastInvalid.open();
                    }
                }
            });
        </script>
    </dom-module>