<!-- view: oe/oe_client/views/view-admin-pool-listing.js -->
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="oe-admin-design-new-eddi">
    <style>
        /* TODO(polyup): For speed, consider reworking these styles with .classes
                         and #ids rather than [attributes].
        */
        [layout] {
        @apply(- -layout);
        }

        [layout][vertical] {
        @apply(- -layout-vertical);
        }

        [layout][flex] {
        @apply(- -layout-flex);
        }
    </style>
    <style>
        #container {
            margin: 0.5em auto;
            background: white;
            border: 1px solid rgba(0, 0, 0, 0.15);
            padding: 0.5em 1em 1em;
            position: relative;
            width: 80%;
            max-width: 560px;
            min-width: 256px;
        }

        .secondary-text-color {
            color: #727272;
        }

    </style>
    <template>
        <div vertical="" layout="" flex="" id="wrapper">
            <div id="container">
                <div id="newEddiEntry">
                    <h3>{{eddiTitle}}</h3>

                    <p class="secondary-text-color">{{eid}}</p>

                    <p>Create a new eddi</p>
                    <paper-input-decorator label="Eddi Title" floatinglabel="">
                        <input is="core-input" value="{{eddiTitle::input}}">
                    </paper-input-decorator>
                    <p>Provide a prompt</p>
                    <paper-input-decorator label="Eddi Prompt" floatinglabel="">
                        <input is="core-input" value="{{eddiPrompt::input}}">
                    </paper-input-decorator>

                    <div>
                        <p>Choose an eddi control module</p>
                        <select name="select" id="controlModuleSelect">
                            <template is="dom-repeat" items="{{controlmodules}}" as="cm">
                                <option value="{{cm.modulename}}">{{cm.modulename}}</option>
                            </template>
                        </select>
                    </div>

                    <paper-button on-tap="createNewEddi" flex="">Create</paper-button>
                </div>

            </div>
        </div>
    </template>
    <script>
        //noinspection JSUnusedGlobalSymbols
        Polymer({
            is: 'oe-admin-design-new-eddi',
            properties: {
                attrUpdate: {
                    notify: true,
                    observer: 'attrUpdateChanged'
                },
                oe: {notify: true},
                poollogic: {notify: true}
            },
            ready: function () {
                this.resetForm();
            },
            attrUpdateChanged: function () {
            },
            newEddiID: function () {
                var eid = app.guid();
                this.eid = eid.substr(3, 8);
            },
            createNewEddi: function () {
                // need to validate the title and ID
                // TODO: add validation that make sure every field is filled
                var e = this.$.controlModuleSelect;
                var controlmodule = e.options[e.selectedIndex].value;
                var sheetid = app.channels.pool.request('get-eddi-sheetid');
                if (sheetid) {
                    app.channels.pool.command('create-new-eddi', {
                        eid: this.eid,
                        sheetid: sheetid,
                        title: this.eddiTitle,
                        prompt: this.eddiPrompt,
                        controlmodule: controlmodule
                    });
                    this.resetForm();
                } else {
                    console.error('No sheetid selected.');
                }
            },
            resetForm: function () {
                // reset the form
                this.newEddiID();
                this.eddiTitle = '';
                this.eddiPrompt = '';
            }
        });
    </script>
</dom-module>