<!-- view: oe/oe_client/views/view-admin-pool-listing.js -->
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/core-icons/core-icons.html">

<polymer-element name="oe-admin-design-pooldetails" attributes="poollogic attrUpdate">
    <template>
        <div layout vertical flex id="wrapper">
            <div id="container">
                <h2>{{poollogic.poollogic.title}}</h2>

                <div id="poolListingStatsTable" layout vertical>
                    <div class="poolListingStatsRow" layout horizontal>
                        <div>Title:</div>
                        <div flex>
                            <paper-input value="{{poollogic.poollogic.title}}" on-blur="{{savePool}}"></paper-input>
                        </div>
                    </div>
                    <div class="poolListingStatsRow" layout horizontal>
                        <div>Description:</div>
                        <div flex>
                            <paper-input value="{{poollogic.poollogic.description}}"
                                         on-blur="{{savePool}}"></paper-input>
                        </div>
                    </div>
                    <div class="poolListingStatsRow" layout horizontal>
                        <div>Introduction:</div>
                        <div flex>
                            <paper-input value="{{poollogic.poollogic.introduction}}"
                                         on-blur="{{savePool}}"></paper-input>
                        </div>
                    </div>
                    <div class="poolListingStatsRow" layout horizontal>
                        <div>Afterword:</div>
                        <div flex>
                            <paper-input value="{{poollogic.poollogic.afterward}}" on-blur="{{savePool}}"></paper-input>
                        </div>
                    </div>
                    <div class="poolListingStatsRow" layout horizontal>
                        <paper-button raised flex on-tap="{{pushPool}}">Push Pool</paper-button>
                    </div>
                </div>
            </div>
        </div>
        <style>
            #container {
                margin: 0.5em auto;
                background: white;
                border: 1px solid rgba(0, 0, 0, 0.15);
                padding: 0.5em 1em 1em;
                position: relative;
                width: 80%;
                max-width: 560px;
                min-width: 256px;
            }

            .poolButton {
                margin-top: 15px;
            }

            .poolListingStatsRow {
                margin-top: 12px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }

            .poolListingStatsRow > div:nth-child(1) {
                width: 30%;
                max-width: 240px;
                min-width: 120px;
                word-wrap: normal;
            }

            .poolListingStatsRow > div:nth-child(2) {
                text-align: left;
            }

        </style>
    </template>
    <script>
        //noinspection JSUnusedGlobalSymbols
        Polymer('oe-admin-design-pooldetails', {
            attrUpdateChanged: function () {
//                console.log(this.poollogic);
            },

            savePool: function () {
                app.channels.pool.command('save-pool-design', this.poollogic);
            },

            pushPool: function () {
                app.channels.pool.command('push-pool', this.poollogic);
            }

        });
    </script>
</polymer-element>