<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="oe-admin-header">
    <style>
        paper-toolbar {
                height: 64px;
                background-color: rgba(27, 85, 170, 0.8);
                color: white;
            }
        </style>
    <template>
        <paper-toolbar>
            <paper-icon-button icon="menu" on-tap="toggleMenu" id="menuButton"></paper-icon-button>
            <div flex="">OpenEddi Administration</div>
        </paper-toolbar>
    </template>
    <script>
        Polymer({
            is: 'oe-admin-header',
            properties: {oe: {notify: true}},
            ready: function () {
                app.channels.media.on('admin-panel-responsive-change', _.bind(this.toggleButton, this));
            },
            toggleMenu: function () {
                app.channels.navigation.command('admin-toggle-menu');
            },
            // If the panel is wide, then th menu will be showing, so we don't need the hamburger button
            toggleButton: function (e) {
                if (e.detail.narrow) {
                    $(this.$.menuButton).show();
                } else {
                    $(this.$.menuButton).hide();
                }
            }
        });
    </script>
</dom-module>
