<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">


<dom-module id="oe-eddi-promptbar">
    <style include="iron-flex iron-flex-alignment">
        paper-toolbar {
            height: 128px;
        }

        #prompt-bar-container {
            background-color: white;
            position: static;
            border-bottom: rgba(0, 0, 0, 0.3) 1px solid;
        }

        #eddiPrompt {
            margin: 0;
            padding: 1em 1em;
        }

        .oe-eddi-details {
            position: absolute;
            left: 1em;
            bottom: 1em;
            font-size: 10px;
        }
    </style>
    <template>
        <div id="prompt-bar-container">
            <div id="eddiPrompt" inner-h-t-m-l="{{oe.prompt}}"></div>
            <div class="oe-eddi-details">
                <span>{{oe.eid}}</span> - <span>{{oe.eddiTitle}}</span> - <span>{{oe.sortIndex}}</span>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'oe-eddi-promptbar',
            properties: {
                oe: {
                    type: Object,
                    value: function () {
                        return {
                            prompt: 'This is the question prompt',
                            eid: '101',
                            eddiTitle: 'theEddiTitle'
                        };
                    },
                    notify: true
                }
            },
            ready: function () {
                }
        });
    </script>
</dom-module>
