<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">

<dom-module id="oe-eddi-promptbar">
    <style>
            core-toolbar {
                height: 128px;
            }
            .oe-eddi-details {
                font-size: 10px;
            }
        </style>
    <template>
        <paper-toolbar>
            <div flex=""></div>
            <div class="middle">{{oe.prompt}}</div>
            <div class="bottom oe-eddi-details"><span>{{oe.eid}}</span> - <span>{{oe.eddiTitle}}</span></div>
        </paper-toolbar>
    </template>
    <script>
        Polymer({
            is: 'oe-eddi-promptbar',
            properties: {
                oe: {
                    type: Object,
                    value: function () {
                        return {
                            prompt: 'This is the question prompt',
                            eid: '101',
                            eddiTitle: 'theEddiTitle'
                        };
                    },
                    notify: true
                }
            }
        });
    </script>
</dom-module>
