<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">

<polymer-element name="oe-eddi-promptbar" attributes="oe">
    <template>
        <core-toolbar>
            <div flex></div>
            <div class="middle">{{oe.prompt}}</div>
            <div class="bottom oe-eddi-details">{{oe.eid}} - {{oe.eddiTitle}}</div>
        </core-toolbar>
        <style>
            core-toolbar {
                height: 128px;
            }
            .oe-eddi-details {
                font-size: 10px;
            }
        </style>
    </template>
    <script>
        Polymer('oe-eddi-promptbar', {
            oe: {
                prompt: 'This is the question prompt',
                eid: "101",
                eddiTitle: "theEddiTitle"
            }
        });
    </script>

</polymer-element>
