<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

<polymer-element name="oe-landing-footer" attributes="oe">
    <template>
        <div id="oe-landing-footer-internal" flex>
            <span>OpenEddi ya'll.</span>
        </div>
        <div id="sign-in-button">
            <paper-icon-button icon="settings" on-tap="{{adminButtonClick}}"></paper-icon-button>
        </div>
        <style>
            #oe-landing-footer-internal {
                position: relative;
            }

            #oe-landing-footer-internal > span {
                vertical-align: middle;
            }

            :host {
                background: white;
                box-shadow: rgba(0, 0, 0, 0.258824) 0 2px 5px 0;
                width: 540px;
                margin: 16px auto;
                padding: 10px;
            }
        </style>
    </template>

    <script>
        Polymer('oe-landing-footer', {
            adminButtonClick: function () {
                // Check authorization, if the user is logged in then load the admin page
                // otherwise load the login page
                app.channels.user.command('check-auth', function (auth) {
                    if (auth) {
                        app.channels.navigation.command('load-admin-page');
                    } else {
                        app.channels.navigation.command('load-landing-login');
                    }
                })
            }
        });
    </script>

</polymer-element>
