<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-a11y-keys/iron-a11y-keys.html"/>
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html"/>
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html"/>

<dom-module id="oe-pool-header">
    <style include="iron-flex iron-flex-alignment">
        #oe-pool-header-toolbar {
            background-color: rgba(27, 85, 170, 0.8);
            color: white;
        }

        paper-toolbar.oe-paper-toolbar {
            --paper-toolbar-background: #0097A7;

        -
        -paper-toolbar-title: {
            font-size: 1em;
        }

        }
    </style>
    <template>
        <iron-a11y-keys target="[[navTarget]]" keys="left" on-keys-pressed="poolNavBackClick"></iron-a11y-keys>
        <iron-a11y-keys target="[[navTarget]]" keys="right" on-keys-pressed="poolNavForwardClick"></iron-a11y-keys>

        <paper-toolbar id="oe-pool-header-toolbar" class="oe-paper-toolbar">
            <paper-icon-button icon="arrow-back" on-tap="poolNavBackClick"></paper-icon-button>
            <span class="title">{{ sheetTitle }}</span>
            <paper-icon-button icon="arrow-forward" on-tap="poolNavForwardClick"></paper-icon-button>
        </paper-toolbar>
    </template>
    <script>
        Polymer({
            is: 'oe-pool-header',
            properties: {
                sheetid: {notify: true},
                navTarget: {
                    type: Object,
                    value: function () {
                        return document.body;
                    }
                }
            },
            ready: function () {
                app.channels.navigation.on('sheet-loaded', this.getSheetTitle, this);
                this.getSheetTitle();
            },
            poolNavBackClick: function () {
                app.channels.navigation.command('pool-prev-sheet');
            },
            getSheetTitle: function () {
                var sheetid = app.appState.get('sheetid');
                var sheet = app.currentPool.sheets.find({sheetid: sheetid});
                this.sheetTitle = sheet.get('title');
                return sheet.get('title');
            },
            poolNavForwardClick: function () {
                app.channels.navigation.command('pool-next-sheet');
            }
        });
    </script>
</dom-module>