<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="oe-pool-header">
    <style>
            #oe-pool-header-toolbar {
                background-color: rgba(27, 85, 170, 0.8);
                color: white;
            }
        </style>
    <template>
        <paper-toolbar id="oe-pool-header-toolbar" class="dark-primary-color" flex="">
            <paper-icon-button icon="arrow-back" class="poolNavBack" on-tap="poolNavBackClick"></paper-icon-button>
            <span class="poolTitle flex">{{ sheetTitle }}</span>
            <paper-icon-button icon="arrow-forward" class="poolNavForward"
                               on-tap="poolNavForwardClick"></paper-icon-button>
        </paper-toolbar>
    </template>
    <script>
        Polymer({
            is: 'oe-pool-header',
            properties: {
                sheetid: {notify: true}
            },
            ready: function () {
                app.channels.navigation.on('sheet-loaded', this.getSheetTitle, this);
                this.getSheetTitle();
            },
            poolNavBackClick: function () {
                app.channels.navigation.command('pool-prev-sheet');
            },
            getSheetTitle: function () {
                var sheetid = app.appState.get('sheetid');
                var sheet = app.currentPool.sheets.find({sheetid: sheetid});
                this.sheetTitle = sheet.get('title');
                return sheet.get('title');
            },
            poolNavForwardClick: function () {
                app.channels.navigation.command('pool-next-sheet');
            }
        });
    </script>
</dom-module>