<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="pool-listing-landing">
    <template>
        <style include="iron-flex iron-flex-alignment">
            :host {
                margin: 0.5em auto;
                background: white;
                border: 1px solid rgba(0, 0, 0, 0.15);
                padding: 0.5em 1em 1em;
                position: relative;
                width: 80%;
                max-width: 320px;
            }

            .date-created {
                font-size: 7px;
                position: absolute;
                bottom: 5px;
                left: 5px;
                color: rgba(0, 0, 0, 0.50);
            }

            .pool-desc {
                margin-bottom: 10px;
            }

            .start-button {
                background-color: rgb(27, 85, 170);
                color: white;
            }
        </style>
        <div class="pool-listing layout vertical">
            <h2>{{poolTitle}}</h2>
            <div class="pool-desc">{{description}}</div>
            <span class="date-created">{{dateCreated}}</span>
            <paper-button raised="" on-tap="createNewPool" class="start-button">
                <iron-icon icon="create"></iron-icon>
                Start
            </paper-button>
        </div>
    </template>
</dom-module>
<script>
    //noinspection JSUnusedGlobalSymbols
    Polymer({
        is: 'pool-listing-landing',
        properties: {
            dateCreated: {notify: true},
            description: {notify: true},
            oe: {notify: true},
            poolTitle: {type: 'String', notify: true}
        },
        createNewPool: function () {
            this.fire('start-new-pool');
        }
    });
</script>
