<paper-shadow class="NameInterpreterBox">
    <div id="niNameLayoutName"></div>
    <div id="niNameLayoutControl"></div>
</paper-shadow>

<style>
    .NameInterpreterBox {
        margin: 10px;
        background-color: white;
    }

    #niNameLayoutName {

    }
</style>