<div id="name-interpret-controls" class="flex layout horizontal">
    <paper-icon-button icon="arrow-back" id="ni-back"></paper-icon-button>
    <div class="flex">Name here</div>
    <paper-icon-button icon="arrow-forward" id="ni-forward"></paper-icon-button>
</div>
<div id="oe-basic-nameinterpreters">Name Layout!</div>
<style>
    #name-interpret-controls {
        width: 75%;
        margin: 1em auto;
    }
</style>