<paper-shadow class="NameInterpreterBox">
    <div id="niNameLayoutName"></div>
    <div id="niNameLayoutControl"></div>
</paper-shadow>

<style>
    .NameInterpreterBox {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #niNameLayoutName {

    }
</style>